.App { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:white;
  width: 402px;
  height: 469px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 5rem;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4F4F4F;
  font-weight: 500;
  padding: 1rem;
}

.App > h1 {
  padding: 1rem;
  font-size: 2rem;

}

.drag-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin: 0 auto;
  width: 338px;
  height: 218.9px;
  background: #F6F8FB;
  border: 1px dashed #97BEF4;
  box-sizing: border-box;
  border-radius: 12px;
}


.drag-image {
  height: 88px;
  width: 114px;
  padding: 35px 115px;
  padding-bottom: 10px;
}

.App-btn {
  margin:5rem;
  height: 31.983793258666992px;
  width: 101px;
  font-size: 12px;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #2F80ED;

}

.App-input {
  visibility: hidden;
}

.footer {
  font-family: Poppins;
  color: #4F4F4F;
  position: absolute;
  bottom: 0;
  margin-left: 2rem;
}