body {
  display: flex;
  justify-content: center;
  background: #f8f8f3;
  margin: 0 auto;
  align-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');