@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600&family=Poppins:wght@500&display=swap');

body {
  display: flex;
  justify-content: center;
  background: #F6F8FB;
  ;
  margin: 0 auto;
  align-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Montserrat Alternates', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
